<main class="container">
  <div class="image-wrapper">
    <img src="./assets/logo.png" alt="">
  </div>

  <div class="login-box">
    <form>
      <input id="userInput" type="text" placeholder="Your name... ">
      <button class="material-icons" type="button" (click)="onButtonClick()">catching_pokemon</button>
    </form>

  </div>
</main>
