.container {
  background: #333;
  height: 50em;
  justify-content: center;
}

.image-wrapper {
  margin-left: 31.5%;
  margin-bottom: 2%;
}

img {
  margin-top: 5em;
  max-height: 8em;
}

.login-box {
  background: gray;
  border-radius: 1em;
  border-style: solid;
  border-width: .075em;
  border-color: #CF146C;
  width: 50%;
  height: 6em;
  margin-left: 25%;
}

.material-icons {
  background: transparent;
  color: #333;
  border: none;
  font-size: 2em;
  padding-top: .5em;
}

input {
  font-family: 'Cinzel', serif;
  margin-left: 25%;
  background: lightgrey;
  outline: none;
  border-radius: 5px;
  border-color: transparent;
  font-size: 1em;
}

button {
  outline: none;
}
