

<main>
  <div>
    <p>{{pageNr}}</p>
  </div>

  <div class="button-wrapper">
    <button class="material-icons" type="button" *ngIf="(getPokemons$() | async).prev !== null" (click)="onPrevButtonClickHandling()">keyboard_arrow_left</button>
  </div>

  <div class="display-box">
    <div *ngFor="let pokemon of (getPokemons$() | async).pokemonArray">
      <div class="pokemon-card" routerLink="/details/{{pokemon.id}}">
        <p>{{pokemon.name}}</p>
        <div class="image-wrapper">
          <img [src]="pokemon.image"/>
        </div>
      </div>
    </div>
  </div>

  <div class="button-wrapper">
    <button class="material-icons" type="button" *ngIf="(getPokemons$() | async).next !== null" (click)="onNextButtonClickHandling()">keyboard_arrow_right</button>
  </div>
</main>
