* {
  background-color: #333;
}

.topnav {
  background-color: #333;
  color: lightgrey;
  font-family: 'Cinzel', serif;
  overflow: hidden;
  display: flex;
  border-bottom-style: solid;
  border-color: #CF146C;
  border-width: .075em;
  justify-content: left;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 1.5em;
  margin-left: 12em;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.logo-image img {
  width: 10em;
  padding: .5em .5em .5em 2em;
}




