<body>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
  </head>

  <div *ngIf="checkLogin() !== null" class="topnav">
    <div class="logo-image">
      <img src="./assets/logo.png">
    </div>
    <a href="catalogue">Catalogue</a>
    <a href="trainer">My page</a>
  </div>
  <router-outlet></router-outlet>
</body>
