.wrapper {
  padding: 1em;
  background: #333333;
  color:lightgray;
  font-family: 'Cinzel', serif;

}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.header h1, .general_stats h2, .wrapper h4 {
  font-weight: lighter;
}

.general_stats {
  text-align: left;
}

.collect_button{
  font-size: 2em;
  padding: .2em 2em;
  border-radius: .5em;
}

.moves_header {
  text-align: center;
  font-size: 4em;
}

.moves_container {
  display: flex;
  margin-left: 20%;
  width: 60%;
  flex-wrap: wrap;
  justify-items: center;
}

.moves_container p {
  border-style: solid;
  border-width: 0.075em;
  border-color: #CF146C;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}
