<div class="wrapper">
  <div class="top">
    <div class="header">
      <h1> {{ (getSelectedPokemon() | async).name }} </h1>
      <img [src]="( getSelectedPokemon() | async).image" alt="crashed"/>
      <button class="collect_button" (click)="onButtonCollect()">Collect</button>
    </div>

    <div class="general_stats">
      <h2>Types:</h2>
      <div *ngFor="let types of ( getSelectedPokemon() | async).types">
        <p>Type: {{types.type.name}}</p>
      </div>
      <h2>Stats</h2>
      <p> Height: {{ ((getSelectedPokemon() | async).height) * 10 }} cm</p>
      <p> Weight: {{ ((getSelectedPokemon() | async).weight) / 10 }} kg</p>
      <p> Base experience: {{ (getSelectedPokemon() | async).baseXp }} xp</p>
      <h2>Abilities</h2>
      <div *ngFor="let abilities of ( getSelectedPokemon() | async).abilities">
        <p>Ability: {{abilities.ability.name}}</p>
      </div>
    </div>


  </div>


  <h4 class="moves_header">MOVES</h4>
  <div class="moves_container">
    <div *ngFor="let moves of ( getSelectedPokemon() | async).moves">
      <p>{{moves.move.name}}</p>
    </div>
  </div>


</div>

