<main>
 <div class="container">
   <h1>{{ (getCurrentTrainer$() | async).trainer }}</h1>

   <div class="display-box">
     <div *ngFor="let pokemon of (getCurrentTrainer$() | async).pokemon">
       <div class="pokemon-card" routerLink="/details/{{pokemon.id}}" style="border-style: solid">
         <p>{{pokemon.name}}</p>
         <div class="image-wrapper">
           <img [src]="pokemon.image" />
         </div>
       </div>
     </div>
     <div *ngIf="(getCurrentTrainer$() | async).pokemon.length === 0">
       <h1>No Pokemons collected yet 😢</h1>
     </div>
   </div>
 </div>


</main>
