h1 {
  font-family: 'Cinzel', serif;
  color: lightgrey;
  font-weight: lighter;
  text-align: center;
}

main {
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  font-family: 'Cinzel', serif;
  color: lightgrey;
  font-size: 1.5em;
}

.container {
  justify-content: center;
  width: 100%;
}

.display-box {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.pokemon-card {
  background-color: gray;
  border-color: #CF146C;
  border-style: solid;
  border-width: .075em;
  width: 8em;
  height: 13em;
  margin: 1em;
  padding: .8em;
  border-radius: 1em;
  outline: none;
}

.pokemon-card p {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 120%;
  height: 20%;
  text-align: center;
  padding: 0;
  margin: 0.3em 0 0 0;
}

.image-wrapper {
  justify-content: center;
  background: lightgrey;
  border-radius: 6em;
  align-items: stretch;
  width: 8em;
  height: 8em;
  margin-top: 1em;
}

.image-wrapper img {
  padding-top: 1em;
  padding-left: .6em;
  max-width: 100%;
  max-height: 100%;
}
